{% extends "base-admin.html" %}
{% block content %}
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Total Buku yang ada di Pencarian : {{total_bk}}</h1>
        </div>
        <div class="section body">

            <form class="form-inline mr-auto" method='POST' action="{% url 'search' %}">
                {% csrf_token %}
                <ul class="navbar-nav mr-3">

                    <!-- <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li> -->
                </ul>
                <div class="search-element">
                    <a href="{% url 'data_buku' %}" class="btn btn-outline-danger">Kembali</a>
                    <hr>
                    <strong> Cari Buku : </strong>
                    {{search_form.name_of_book}}
                    <!-- <button class="btn" type="submit"><i class="fas fa-search" style="margin-left: 200px;"></i></button> -->
                    <!-- <div class="search-backdrop"></div> -->
                </div>
            </form>
            <br>
            <div class="col-lg-12">
                <h4>Filter berdasarkan genre :</h4>
                {% for kt in kategori %}
                <a href="{% url 'genre_buku' kt.slug %}" type="button" class="btn btn-primary" style="margin-top: 5px;">
                    {{kt.name}}
                    <span class="badge badge-transparent"></span>
                </a>
                {% endfor %}
            </div>
            <br>
            <br>
            <div class="col-lg-12 col-lg-9">
                {% if searched_books %}
                <div class="row">

                    {% for bk in searched_books %}
                    <div class="col-6 col-lg-4 col-md-6">
                        <div class="card card-primary">
                            <div class="card-body px-4 py-4-5">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <center>
                                            <h5>{{bk.title}}</h5>
                                            <p>By: {{bk.author}}</p>
                                            <hr>
                                            <img src="{{bk.cover_image.url}}" alt="" width="50%">
                                            <hr>
                                            
                                        </center>
                                        <a href="{% url 'detail_buku' bk.slug %}"
                                            class="btn btn-outline-primary btn-block ">Detail Buku</a>
                                        <a href="{% url 'edit_buku' bk.slug %}"
                                            class="btn btn-outline-success btn-block ">Edit Buku </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h3 class="text-center">Maaf Buku yang anda cari tidak ditemukan</h3>
                    {% endif %}
                </div>
            </div>
    </section>
</div>
{% endblock content %}